archaeus/Module 4 Completed Solution/Workflows/Newdeviceapprovalrequest-17B10E61-2E8B-EA11-A811-000D3A579C9C.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnNewItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('crd38_deviceorders'))}/onnewitemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Start_and_wait_for_an_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"StartAndWaitForAnApproval"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_approvals']['connectionId']"}},"body":{"notificationUrl":"@{listCallbackUrl()}","title":"New device request for @{triggerBody()?['crd38_devicename']}","assignedTo":"@triggerBody()?['crd38_approver']","details":"A new device has been requested\n@{triggerBody()?['crd38_devicename']} $@{triggerBody()?['crd38_price']}\nDepartment Contribution: $@{triggerBody()?['crd38_departmentcontribution']}\nComments: @{triggerBody()?['crd38_comments']}","requestor":"@triggerBody()?['crd38_requestedby']","enableNotifications":true,"enableReassignment":true},"path":"/types/@{encodeURIComponent('Basic')}/subscriptions","authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Update_a_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"crd38_approvalstatus":240690000,"crd38_approveddate":"@{utcNow()}","crd38_comments":"@triggerBody()?['crd38_comments']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('crd38_deviceorders'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['crd38_deviceorderid']))}","authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Update_a_record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"method":"post","body":{"To":"@body('Update_a_record')?['crd38_requestedby']","Subject":"Your device order has been approved! ","Body":"Your device has been approved <>@{body('Update_a_record')?['crd38_devicename']}</></br>\nEstimated ship date: @{body('Update_a_record')?['crd38_estimatedshipdate']}</br>\n@{body('Start_and_wait_for_an_approval')?['responseSummary']}"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Update_a_record_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"crd38_approvalstatus":240690001,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('crd38_deviceorders'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['crd38_deviceorderid']))}","authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"Update_a_record_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"method":"post","body":{"To":"@body('Update_a_record_2')?['crd38_requestedby']","Subject":"Your device was not approved","Body":"<p>Sorry, your request for @{body('Update_a_record_2')?['crd38_devicename']} wa NOT APPROVED.<br>\n@{body('Start_and_wait_for_an_approval')?['responseSummary']}</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@body('Start_and_wait_for_an_approval')?['outcome']","Approve"]},"type":"If"}}}},"schemaVersion":"1.0.0.0"}